.app-container {
	height: 100%;
}

.toolbar {
	// display: flex;
	// justify-content: space-around;
}

.toolbar-title {
	margin-left: 1em;
}

.drawer {
	border-right: 2px grey solid;
	min-width: 300px;
}